<div class="jumbotron">
  <div class="container">
    <h4>&nbsp;</h4>
    <h2>11th International Workshop on Software Clones</h2>
    <h4>February 21, 2017, Klagenfurt, Austria</h4>
    <h4>In conjunction with <a href="http://saner.aau.at/">SANER 2017</a></h4>
    <h6>&nbsp;</h6>
    <div id="sheep">
      <span class="sheep sheep_white"></span>
      <span class="sheep sheep_black"></span>
      <span class="sheep sheep_black_white"></span>
      <span class="sheep sheep_white"></span>
      <span class="sheep sheep_black"></span><br>
      <span class="sheep sheep_black"></span>
      <span class="sheep sheep_black_white"></span>
      <span class="sheep sheep_white"></span>
      <span class="sheep sheep_black_white"></span>
      <span class="sheep sheep_white"></span>
    </div>
  </div>
</div>
